#on ignore le fichier appelé "ignore.txt"
ignore.txt

#on ignore tous les fichiers se trouvant dans le répertoire appelé "ignore"
ignore/

#on ignore tous les fichiers ayant l'extension ".phtml"
*.phtml

#on ignore tous les fichiers ayant l'extension ".phtml", ok mais sauf le fichier "pas_moi.phtml"
# !! attention si le fichier "pas_moi.phtml" est placé dans le répertoire "ignore" ci-dessus, il ne sera pas suivi !!
*.phtml
!pas_moi.phtml
