#on ignore le fichier appelé "ignore.txt"
ignore.txt

#on ignore tous les fichiers se trouvant dans le répertoire appelé "ignore"
ignore/

#on ignore tous les fichiers ayant l'extension ".phtml"
*.phtml

#on ignore tous les fichiers ayant l'extension ".phtml" sauf le fichier "pas_moi.phtml"
*.phtml
!pas_moi.phtml
